.button {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
}

.form {
  position: relative;
  background-color: #ffffff;
  padding: 32px;
  width: 440px;
}

.text {
  font-size: 16px;
  line-height: 24px;
  margin: 4px 0 24px;
}

.title {
  margin: 0;
}

.button {
  width: 100%;
}

.inputContainer {
  margin: 0;;
}

.buttonContainer {
  margin: 16px 0 0;
}

.logo {
  background-image: url(../../assets/_Logo\ Placeholder.svg);
}