.form {
  background-color: #ffffff;
  padding: 32px;
  width: 440px;
  position: relative;
}

.input {
  margin-bottom: 16px;
}

.button {
  width: 100%;
}

.formItem {
  margin: 0;;
}

.logo {
  background-image: url(../../assets/_Logo\ Placeholder.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100px;
  height: 24px;
  position: absolute;
  content: '';
  top: 52px;
  left: calc(50% - 50px);
}

.title {
  margin: 68px 0 24px;
}